* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

body {
    background-color: #4b93bf;
    display: block;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: 10%;
}

.logoheader {
    display: flex;
    align-items: center;
    justify-content: center;

}